.content__chat_paragraf {

  margin-left: 20px;
}

.content__message {
  display: flex;
  max-width: 1150px;
  box-shadow: -2px 1px 52px -8px rgba(34, 60, 80, 0.25);
  margin-top: 35px;
  background-color: rgb(241, 241, 241);
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 15px;
}

.like__block {
  display: flex;
}

.like__how {
  margin-top: 10px;
  margin-left: 15px;
}