.dialogs__block_message {
    max-width: 1150px;
    box-shadow: -2px 1px 52px -8px rgb(241, 241, 241);
    margin-top: 35px;
    background-color: rgb(241, 241, 241);
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dialogs__block_message_input {
    max-width: 750px;
    width: 70%;
    margin-left:20px;
    height: 80px;
    border: 0px solid black;
    border-radius: 10px;
    background-color: rgb(241, 241, 241);
    margin-left: 111px;

}
.dialogs__block_message_buttons{
    position: absolute;
    left: 63%;
    top:35px;
    margin-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px ;
}

.dialogs__block_message_button {
    border: 0px;
    background:none;
}