/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;

}


.body {
  font-family: 'Roboto';
}
.main__grid {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 10fr 100px;
  grid-gap:0px;
  grid-template-areas: 
  "h h h"
  "n c hd"
  ;
}

.content__block-info {
 margin-left: 20px;
 
}


.cococo__avatar {
  border-radius: 100px; 
  box-shadow: 0 0 7px #666; 
  
}

.cococo__avatar_margin{
  display:block;
  margin:0 auto;
  margin-top:-100px;
}
.cococo__avatar--message{
  margin-bottom: -48px;
  display: flex;
  justify-content: center;
  margin-left:10px;
}

.content {
  grid-area: c;
}