.iconsHeader
{
    display: flex;  margin: 0 auto;  margin-top: 32px ;
}
.button
{ margin-right: 30px; border: 0; 
    background-color: #888da8; 
}

.activeNav svg
{ box-shadow: #666;

    fill: #ff5e3a; 
}

svg:hover
{
    fill: #ff886d;
}
